.checkout-flow {
	margin-top: 50px;
}

.checkout-flow .icon {
	max-width: 50px;
}

.checkout,
.payment,
.confirmation {
	margin-top: 20px;
}

.produk-pesanan {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px 0px 0px 0px;
}

.produk-img {
	border: 1px solid #c0c4cd;
	padding: 20px;
	width: 120px;
}

.produk-img img {
	max-width: 100%;
}

.produk-name {
	text-transform: uppercase;
}
.produk-pesanan-title {
	padding: 0px 30px;
}

.produk-pesanan-items {
	padding: 30px;
}

.border-bottom {
	border-bottom: 1px solid #c0c4cd;
	padding-top: 10px;
}

.alamat {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

.alamat-user {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 20px;
}

.alamat-action a {
	text-decoration: none;
	color: #312d75;
}

.btn-orange {
	border: 1px solid #fbab20;
	width: 100%;
	border-radius: 6px;
}

.btn-orange:hover {
	background: linear-gradient(172.04deg, #1891f6 10.75%, #1a38e3 139.85%);
	border: 1px solid transparent;
	color: #fff;
}

.detail-pembayaran,
.kode-promo {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

.pembayaran-content {
	padding: 30px 0px 54px 0px;
}

.produk-total {
	margin-top: 30px;
}

.btn-primaryku {
	width: 100%;
	background: linear-gradient(160.02deg, #3496f7 -1.9%, #2a6ff5 79.64%);
	border-radius: 6px;
	padding: 18px 0px !important;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	border: 1px solid transparent;
}

.btn-primaryku:hover {
	background: linear-gradient(180deg, #fdf025 0%, #ffc90a 100%);
	border: 1px solid #ffc90a;
	padding: 18px 0px !important;
	color: #312d75;
}

.jasa-pengiriman,
.metode-pembayaran {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

.mb-300 {
	margin-bottom: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.catatan-pemesanan {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

#before-footer {
	margin-top: 100px;
}

.jasa-pengiriman a:hover {
	text-decoration: none;
}

.use-kode .input-group-lg {
	width: 100%;
}

.use-kode input::placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #c0c4cd;
}

.dropdown-wrapper {
	width: 100%;
	padding: 15px;
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 6px;
}

.dropdown-wrapper a:hover {
	text-decoration: none;
}

.card {
	border: none;
	border-bottom: 1px solid #c0c4cd;
}

.no-border {
	border: none !important;
}

.no-padding-bottom {
	padding: 1.25rem;
	padding-top: 1.25rem;
	padding-right: 1.25rem;
	padding-bottom: 0rem;
	padding-left: 1.25rem;
}

.accordion a:hover {
	text-decoration: none;
}

.informasi-pembayaran {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

.waktu-pembayaran {
	width: 100%;
	background-color: #f0f1f1;
	border-radius: 6px;
	padding: 15px;
}

.card-body ol li::marker {
	color: #898f9e;
}

.confirmation-wrapper {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px;
}

.confirmation-info img {
	width: 300px;
}

.no-pesanan {
	background-color: #f0f1f1;
	border-radius: 6px;
	padding: 15px;
}

.btn-third {
	background: #312d75;
	border-radius: 5px;
	width: 100%;
	color: #fff;
	padding: 15px;
}

.open {
	transform: rotate(180deg);
	transition: all ease-in-out 0.5s;
}

.default {
	transition: all ease-in-out 0.5s;
}

/* modal alamat baru */

.modal-content {
	padding: 30px;
}

.modal-title {
	padding: 0 !important;
}

.modal-footer {
	border-top: none;
}

.alamat-user-wrapper {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px 30px;
	cursor: pointer;
}

.alamat-user-wrapper:hover {
	background-color: #f0f1f1;
	border: 1px solid transparent;
}

.user-alamat {
	width: 60%;
}

.alamat-choose {
	background: #f0f1f1;
}

.modal-btn {
	padding: 15px;
	margin: 0px 200px;
}
.close img {
	width: 20px;
	color: #312d75 !important;
}

.no-alamat-wrapper {
	margin-top: 250px;
	margin-bottom: 10px;
}

.ds-none {
	display: none;
}

.modal-body form {
	padding: 0 !important;
}

.modal-tambah-alamat label {
	font-size: 16px;
	font-weight: 500;
}

.modal-body form .form-group input::placeholder,
.modal-body form .form-group textarea::placeholder {
	font-size: 16px !important;
	font-weight: 300;
	color: #c0c4cd;
}

.modal-body form .form-group textarea {
	color: #898f9e;
}

.modal-body form .form-group input {
	font-size: 16px;
	color: #898f9e;
}

.modal-body a:hover {
	text-decoration: none;
}

.modal-body .ongkir {
	color: #312d75;
}
/* end modal alamat baru */

/* dropdown option select */
.custom-select {
	position: relative;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	max-width: 100%;
	padding: 1.5rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	/* background: #fff
		url(
			data:image/svg + xml,
			%3csvgxmlns='http://www.w3.org/2000/svg'width='4'height='5'viewBox='0 0 4 5'%3e%3cpathfill='%23343a40'd='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e
		)
		right 0.75rem center/8px 10px no-repeat; */
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-items div {
	padding: 15px 18px !important;
}

.select-selected {
	color: #898f9e !important;
	margin-top: -12px !important;
	padding: 0px !important;
}

/* .select-selected {
	background-color: #ffff;
} */

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: '';
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	/* top: 7px; */
}

.border-blue {
	border: 1px solid #1891f6;
	background: #e8f0fe;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
	color: #312d75;
	padding: 2px 16px;
	cursor: pointer;
	user-select: none;
}

.bg-grey {
	background: #e8f0fe;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(103, 122, 132, 0.12);
	border-radius: 6px;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #eaf5ff;
}

.salin-kode-wrapper {
	background: #f0f1f1;
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
}

.line-checkout {
	width: 300px;
	height: 1px;
	background-color: #c0c4cd;
}

@media (max-width: 578px) {
	.line-checkout {
		width: 50px;
	}
}

@media (max-width: 578px) {
	.show-mobile {
		display: block !important;
	}

	.column-mobile {
		display: flex !important;
		flex-direction: column !important;
	}

	.produk-img {
		width: 150px;
		height: 180px;
	}

	.mt-3-mobile {
		margin-top: 1rem;
	}

	.mt-min {
		margin-top: -10px;
	}
	.pembayaran-content {
		padding: 30px 0px 34px 0px;
	}

	.input-kode-wrapper-mobile {
		position: relative;
	}

	.input-kode-wrapper-mobile input::placeholder {
		font-size: 14px;
		font: weight 400px;
		color: #c0c4cd;
	}

	.input-kode-wrapper-mobile .btn-input-kode {
		position: absolute !important;
		right: 15px;
		top: 18px;
	}

	.position-relative {
		position: relative;
	}

	.detail-pembayaran {
		margin-top: 1rem;
	}
	.no-pesanan {
		background: none !important;
	}

	.btn-action {
		margin-top: 0px !important;
	}

	.confirmation-info img {
		width: 200px;
	}
	.modal-btn {
		margin: 0;
	}

	.fs-10 {
		padding-top: 4px;
		font-size: 10px !important;
		font-weight: 400 !important;
	}

	.dropdown-wrapper .title,
	.ongkir {
		font-size: 14px !important;
		font-weight: 400 !important;
		padding-top: 5px !important;
	}

	.mb-100,
	.mb-300 {
		margin-bottom: 0;
	}

	.jasa-pengiriman,
	.metode-pembayaran,
	.informasi-pembayaran,
	.detail-pembayaran,
	.kode-promo,
	.alamat-pengiriman,
	.catatan-pemesanan {
		padding: 30px 20px;
	}
}
