.arrow-back {
	margin-top: 50px;
}

.nomor-transaksi,
.alamat,
.jasa-pengiriman,
.detail-pembayaran {
	border: 1px solid #c0c4cd;
	padding: 30px;
	background: #ffffff;
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
}

.produk-pesanan {
	border: 1px solid #c0c4cd;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px 0px 0px 0px;
}

.alamat-user {
	background: #f0f1f1;
	border-radius: 6px;
	padding: 20px;
}

.produk-img {
	border: 1px solid #c0c4cd;
	padding: 20px;
	width: 120px;
}

.produk-img img {
	max-width: 100%;
}

.produk-name {
	text-transform: uppercase;
}
.produk-pesanan-title {
	padding: 0px 30px;
}

.produk-pesanan-items {
	padding: 30px;
}

.btn-batal {
	background: #f0f1f1;
	border-radius: 6px;
	width: 100%;
	padding: 15px;
}

.pengiriman-ilustration img {
	width: 100%;
}

.content {
	margin-top: 50px;
	margin-bottom: 100px;
}

.arrow-back {
	color: #ed1c24;
}

.wait-pay {
	border-color: #c0c4cd;
	padding: 15px;
}

.img-border {
	border: 1px solid;
	height: 65px;
	border-radius: 200%;
	margin-bottom: 15px;
}

/* .wait-pay img {
	padding: 30px;
} */

.border-orange {
	border-color: #fbab20 !important;
}

.wait-jam {
	width: 20%;
}

.flow-pembayaran-wrapper {
	margin-top: 50px;
}

.line-flow-pembayaran {
	background: #c0c4cd;
	width: 100px;
	height: 1px;
	margin-top: -55px;
	/* position: absolute; */
}

.line-orange {
	background: #fbab20;
}

.ml-m-12 {
	margin-left: -12px;
}

.mr-m-12 {
	margin-right: -12px;
}

.justify-center-m {
	text-align: center;
}

.align-center-m {
	display: flex;
	align-items: center;
}

@media (max-width: 578px) {
	.show-mobile {
		display: block !important;
	}

	.mt-3-mobile {
		margin-top: 1.5rem;
	}

	.arrow-back img {
		transform: rotate(180deg);
	}

	.line-flow-pembayaran {
		/* background: #c0c4cd; */
		width: 1px;
		height: 100px;
		margin-top: 35px;
		/* position: absolute; */
	}

	.border-orange {
		border-color: #fbab20 !important;
	}

	.ml-m-12 {
		margin-left: 0px;
	}

	.mr-m-12 {
		margin-right: 0px;
	}

	.mt-40-m {
		margin-top: 40px;
	}

	.img-border {
		height: 100px;
	}

	.text-center-m {
		text-align: center;
	}

	.flow-pembayaran-wrapper img {
		width: 100px;
	}

	.flow-pembayaran-wrapper {
		margin-top: 30px;
	}

	.wait-pay {
		padding: 20px;
	}

	.produk-img {
		width: 40%;
		height: 150px;
	}
}
